extends layout


block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        div.col-m-12=message
    .row
      .col.l4.m4
        a.btn.btn-primary(href="/supplement/publish") Publish Supplement
      .col.l4.m4
        a.btn.btn-primary(href="/supplement/view") See Supplements 
      .col.l4.m4
        a.btn.btn-primary(href="/login/logout") logout
